<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFXSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WPFXSample.Properties.Settings>
            <setting name="GridColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="GridOpacity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="GridWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="GridHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TileWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TileHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="GridLineThickness" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LevelBackgroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TileSetPath" serializeAs="String">
                <value>C:\\Users\\dmalicoat\\Pictures\\Sprites\\PNG\\Tiles\\TestTiles.png</value>
            </setting>
            <setting name="TileSetKey" serializeAs="String">
                <value>TestTiles.png</value>
            </setting>
            <setting name="TileSetSizeX" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="TileSetSizeY" serializeAs="String">
                <value>19</value>
            </setting>
        </WPFXSample.Properties.Settings>
    </userSettings>
</configuration>